section{
    background-color: #cde;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

section h2{
    color: #222;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

section p{
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}