<header>
    <nav class="navbar navbar-expand-lg bg-white border-bottom shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold fs-4" routerLink="/">
                <i class="bi bi-bag-heart-fill text-primary"></i>
                Shoply
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">
                            <i class="bi bi-house"></i>
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/products">
                            <i class="bi bi-grid"></i>
                            Products
                        </a>
                    </li>

                    <li class="nav-item ms-lg-2">
                        <a class="btn btn-primary px-3" routerLink="/products/add">
                            <i class="bi bi-plus-lg"></i>
                            Add Product
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>